{% load static %}
<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a6c479c4d6.js" crossorigin="anonymous"></script>
    {% block head %}
        <title>Hello, world!</title>
    {% endblock head %}
    
  </head>
  <body>
    <div class="container mt-2">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
            <a class="navbar-brand text-danger" href="#">MOBCODER</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    {% if not user.is_authenticated %}
                        <li><a class="nav-link btn btn-danger text-white btn-sm px-3 rounded-0"  href="{% url 'login' %}"> Login</a></li>
                        <li><a class="nav-link btn btn-danger text-white btn-sm px-3 rounded-0 border-left" href="{% url 'register' %}"> Sign Up</a></li>&nbsp; &nbsp;
                    {% else %}
                        <li><a class="nav-link btn btn-default text-dark px-3 rounded-0"  href="{% url 'profile' user.pk %}"> {{ user.email }} </a></li>
                    {% endif %}

                    <li><a class="nav-link text-dark"  href="/admin/"> Admin</a></li>
                    {% if user.is_authenticated %}
                        <li><a class="nav-link text-danger"  href="{% url 'logout' %}"><i class="fa fa-power-off" aria-hidden="true"></i> Logout</a></li>
                    {% endif %}
                </ul>
            </div>
            </div>
        </nav>
    </div>
    {% block content %}
        <div class="container">
        </div>
    {% endblock content %}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>