#bear_img_div{
    display: flex;
    justify-content: center;
}

#background_img{
    margin-top: 10%;
    width: 100%;
}

#profile_img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    z-index: -1;
    position: relative;
}

#username_div{
    background-color: rgba(0,0,255,0.1);
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

#home_content{
    margin-top:40%;
}

#user_email{
    font-size: 1.2em;
}

#profile_image_container{
    position: relative;
    display: inline-block;
    width: 100px;
    max-width: 100px;
}

#camera-button{
    border-radius: 50%;
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%);
    background-color: black;
}
