{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>User Authentication</title>
    <link rel="stylesheet" href="{% static 'user_authentication_app/css/style.css' %}">
{% endblock head %}

{% block content %}
    <div class="container mt-3">
        <div class="row mt-5">
            <div class="col-md-8" id = "bear_img_div">
                <img id="background_img" src="{% static 'user_authentication_app/images/background.jpg' %}">
            </div>
            <div class="col-md-4 mt-5 px-5 py-5" id = "username_div">
                <div id="home_content">
                    {% if not user.is_authenticated %}
                        <h3>You're not logged in..</h3>
                        <p class="mt-5">Login or Sign up to continue...</p>
                    {% else %}
                        <p id="user_email">Hi.. {{ user.email }}</p>
                        <p class="mt-5">Welcome, Click in email address on navbar to perform update on your details..</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}