{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>User Authentication</title>
    <link rel="stylesheet" href="{% static 'user_authentication_app/css/style.css' %}">
    <script type="text/javascript" src="{% static 'user_authentication_app/js/script.js' %}"></script>
{% endblock head %}

{% block content %}
    <div class="container mt-3">
        <div class="row mt-5">
            <div class="col-md-3 mt-5">
                {% if page_user.profile_image.url %}
                  <img src="{{ page_user.profile_image.url }}" id="profile_img">
                {% else %}
                  <img id="profile_img" src="{% static 'user_authentication_app/images/user.png' %}">
                {% endif %}
            </div>
            <div class="col-md-9 mt-5 px-5 py-5">
                <h3 class="mb-3">Profile</h3>
                <div>
                  <label class="control-label" for="email">Email :</label>
                  {{ page_user.email }}
                </div>
                <div>
                  <label class="control-label" for="pwd">Name :</label>
                  {{ page_user.name }}
                </div>
                <div>
                  <label class="control-label" for="pwd">Date Of Birth :</label>
                  {{ page_user.date_of_birth }}
                </div>
                <div class="form-group mt-3">
                  <div class="col-sm-offset-2 ">
                    <a href="{% url 'update_profile' page_user.id %}" type="submit" class="btn btn-danger">Update Details</a>
                    <a href="{% url 'reset_password' page_user.id %}" type="submit" class="btn btn-info">Change Password</a> 
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}