{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>User Authentication</title>
    <link rel="stylesheet" href="{% static 'user_authentication_app/css/style.css' %}">
{% endblock head %}

{% block content %}
    <div class="container mt-3">
        <div class="row mt-5">
            <div class="col-md-8">
                <img id = "background_img" src="{% static 'user_authentication_app/images/background.jpg' %}">
            </div>
            <div class="col-md-4 mt-5 px-5 py-5">
                <h3>Register</h3>
                <form class="form-horizontal" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label" for="name">Name:</label>
                        <div>
                          <input type="text" class="form-control" id="name" placeholder="Enter Your Name.." name= "name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="dob">Date Of Birth:</label>
                        <div>
                          <input type="date" class="form-control" id="dob" placeholder="Enter Date Of Birth.." name="date_of_birth">
                        </div>
                    </div>    
                    <div class="form-group">
                      <label class="control-label" for="email">Email:</label>
                      <div>
                        <input type="email" class="form-control" id="email" placeholder="Enter email.." name="email">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="pwd">Password:</label>
                      <div>
                        <input type="password" class="form-control" id="pwd" placeholder="Enter password.." name="password1">
                      </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="pwd">Confirm Password:</label>
                        <div>
                          <input type="password" class="form-control" id="pwd" placeholder="Re-Enter password.." name="password2">
                        </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-offset-2">
                        <button type="submit" class="btn btn-danger">Submit</button>
                      </div>
                    </div>
                  </form> 
            </div>
        </div>
    </div>
{% endblock content %}