{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>User Authentication</title>
    <link rel="stylesheet" href="{% static 'user_authentication_app/css/style.css' %}">
{% endblock head %}

{% block content %}
    <div class="container mt-3">
        <div class="row mt-5">
            <div class="col-md-3">
            </div>
            <div class="col-md-9 mt-5 px-5 py-5">
                <h3>Reset Password</h3>
                <form class="form-horizontal" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                      <label class="control-label" for="old_pwd">Old Password:</label>
                      <div>
                        <input type="password" class="form-control" id="old_pwd" placeholder="Enter Old password.." name="old_password">
                      </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="new_pwd">New Password:</label>
                        <div>
                          <input type="password" class="form-control" id="new_pwd" placeholder="Enter New password.." name="new_password1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="conf_pwd">Confirm New Password:</label>
                        <div>
                          <input type="password" class="form-control" id="conf_pwd" placeholder="Re-Enter New password.." name="new_password2">
                        </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-offset-2">
                        <button type="submit" class="btn btn-danger">Submit</button>
                      </div>
                    </div>
                  </form> 
            </div>
        </div>
    </div>
{% endblock content %}