{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>User Authentication</title>
    <link rel="stylesheet" href="{% static 'user_authentication_app/css/style.css' %}">
    <script type="text/javascript" src="{% static 'user_authentication_app/js/script.js' %}"></script>
{% endblock head %}

{% block content %}
    <div class="container mt-3">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row mt-5">
                <div class="col-md-3 mt-5">
                    <div id="profile_image_container">
                        {% if page_user.profile_image %}
                            <img id="profile_img" src="{{ page_user.profile_image.url }}">
                        {% else %}
                            <img id="profile_img" src="{% static 'user_authentication_app/images/user.png' %}">
                        {% endif %}
                        <input type="file" id="image-file" name="profile_image" hidden>
                        <button type="button" class ="btn btn-default text-white" id="camera-button">
                            <i class="fa fa-camera" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-9 mt-5 px-5 py-5">
                    <h3 class="mb-3">Profile</h3>
                    <div>
                    <label class="control-label" for="email">Email :</label>
                    <input class="form-control" id="email" type="email" name="email" value="{{ page_user.email }}">
                    </div>
                    <div>
                    <label class="control-label" for="name">Name :</label>
                    <input class="form-control" id="name" type="text" name="name" value="{{ page_user.name }}">
                    </div>
                    <div>
                    <label class="control-label" for="dob">Date Of Birth :</label>
                    <input class="form-control" id="dob" name= "date_of_birth" type="date" value="{{ page_user.date_of_birth }}">
                    </div>  
                    <div class="form-group mt-3">
                    <div class="col-sm-offset-2">
                        <button type="submit" class="btn btn-primary">Update Profile</button>
                    </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}